
<form (submit)="guardarcambios()"[formGroup]="form">
    <mat-form-field appearance="outline">
    
        <mat-label>Nombre*</mat-label>
        <!--Se pone esto por el objeto creado del formbuild-->
        <input formControlName="nombre" matInput/>
        <mat-error *ngIf="form.invalid">{{Obtenererrorcamponombre()}}</mat-error>
    </mat-form-field>
    <div>
        <button mat-flat-button color="primary"[disabled]="form.invalid">
            Guardar cambios
        </button>
        <a mat-stroked-button routerLink="/generos">
    Cancelar
        </a>
    </div>
    </form>