

<!-- 
<div *ngIf =!listado>
    <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif">
</div>1703642635
-->

<div *ngIf="listado?.length===0">
    <span #cargando>
        <ng-content select="[cargando]">
        </ng-content>
    </span>
    <span *ngIf="!cargando.innerHTML.trim()">
        <img src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif">
    </span>
<span #vacio>
    <ng-content select="[vacio]">
    </ng-content>
</span>
<span *ngIf="!vacio.innerHTML.trim()">
    <p>No hay peliculas </p>

</span>
</div>
<ng-container *ngIf="listado && listado.length > 0">
<ng-content select="[contenido]"></ng-content>

</ng-container>